h1 {
  color: #8585ff;
  text-align: centre;
}

p {
  color: #000000;
}

/*background beige */
body {
  background-color: #fcfcfc;
}

header nav {
  background-color: #fcfcfc;
  text-align: center;
}

header nav ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

header nav li {
  display: inline-block;
  margin-right: 10px;
}

header nav a {
  display: block;
  padding: 10px;
  color: #333;
}
