.heading {
  color: red;
}

.background {
  background-color: beige;
}

.notebox {
  border: 4px solid #666;
  padding: 0.5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  font-weight: bold;
}

#id_color {
  background-color: pink;
}

.span {
  padding: 0 5px;
  border-top: 2px solid black;
  border-bottom: 4px solid black;
}

.paragraph-with-span {
  border: 10px ridge lightgreen;
  margin: 5px;
}
